
html {
    background: #eee;
    text-align: center;
}





.container-rsp {
    width: 80%;
    margin: auto;
}
@media only screen and (max-width: 700px) {
    .container-rsp {
        width: 90%;
    }
}
@media only screen and (max-width: 450px) {
    .container-rsp {
        width: 99%;
    }
}



.leitner-header {
    font-size: 40px;
}
.little-text {
    font-size: 25px;
    color: #666;
}
@media only screen and (max-width: 600px) { 
    .leitner-header {
        font-size: 30px;
    }
    .little-text {
        font-size: 16px;
        color: #666;
    }
}


hr {
    border: 0.5px solid #999;
    margin: 30px 0 30px 0;
}

.ltn-button {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(185, 8, 185);
    color: white;
    font-size: 25px;
    min-height: 50px;
    width: 90%;
    border: 1px solid blue;
    cursor: pointer;
    border-radius: 50px;
    transition: 1s;
    outline: 0;
}
.ltn-button:hover {
    background: rgb(243, 114, 243);
    color: black;
    border: 1px solid white;
    width: 50%;
}


.modal-wrapper {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0, 0.2);
    z-index: 100;
}

.create-card-modal {
    display: none;
    position: relative;
    background: white;
    border: 2px solid blue;
    border-radius: 10px;
    width: 40%;
    min-height: 400px;
    z-index: 200;
    padding: 30px !important;
    
}
@media only screen and (max-width: 1200px) {
    .create-card-modal {
        width: 50%;
    }
} 
@media only screen and (max-width: 1000px) {
    .create-card-modal {
        width: 70%;
    }
} 

@media only screen and (max-width: 600px) {
    .create-card-modal {
        width: 95%;
    }
}

.text-inp {
    direction: rtl;
    width: 100%;
    margin: 30px 0 30px 0;
    font-size: 18px;
    line-height: 28px;
    padding: 10px;
}

.file-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
}

.close-modal-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(255, 88, 82);
    right: 0;
    top: 0;
    margin-top: -10px;
    margin-right: -10px;
    border-radius: 50%;
    cursor: pointer;
}
.close-modal-btn:hover {
    background: blue;
}

.leitner-game {
    margin-top: 30px;
    padding-bottom: 30px;
}

.leitner-section {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 200px;
    /* background: blue; */
    padding: 10px;
    border: 0.5px solid white;
}
.leitner-game hr {
    border: none;
    border-top: 1px solid #999;
}

.card-wrapper {
    /* display: block; */
    overflow: hidden;
    /* float: left; */
    margin: 0 10px 10px 10px;
}

.card {
    float: left;
    margin: 5px 20px 20px 20px;
    min-height: 300px;
    width: 250px;
    background: white;
    position: relative;
}

.open-card-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(182, 5, 182);
    position: absolute;
    bottom: 0;
    height: 30px;
    color: white;
    text-decoration: none;
    transform: 1s;
}
.open-card-btn:hover {
    background: rgb(129, 10, 144);
}

.card img {
    width: 100%;
    height: auto;
}
.card audio {
    width: 100%;
    outline: none;
}

.card-modal img, audio {
    width: 100%;
    outline: 0;
}

.card-modal .card-text {
    margin: 10px;
    font-size: 20px;
}
.section-header{
    overflow: auto;
    display: block;
}
.section-header h4{
    float:right;


}
.section-header button{
    float:left;


}